/* header */

header {

    width: 100%;
    height: auto;
    padding: 10px;
    font-size: larger;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    position: fixed;
    z-index: 9999 !important;
    display: inline;

}

#clock {

  text-align: center;
  align-items: center;
  

}

#clock {

  padding: 3px;

}

/* overlay */

#overlay {

  position: fixed; 
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  background-color: rgba(0,0,0,0.6); 
  z-index: 10; 
  cursor: pointer; 
  overflow: scroll;

}

#textOverlay {

  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 15px;
  max-width: 900px;
  min-height: 550px;
  width: 75%;
  height: auto;
  display: inline-block;
  text-align: justify;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  z-index: 9999 !important;
  overflow: scroll;

}


.overlayBtn {

  position: absolute;
  top: 26px;
  right: 70px;

}

button {

  border-radius: 50%;
  color: black;
  padding: 5px 13px;
  border: none;
  text-align: center;
  background-color: rgba(255, 255, 255, 0); 
  font-size: 11px;
  font-size: larger;

}

button:hover {

  font-size: 50px;

}

/* body */

body {

  position:relative;
  display:grid;
  grid-template-columns: repeat(5, 1fr);
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  word-spacing: 3px;
  font-weight: 530;

}

#imageContainer {

  position:relative;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;

}

img {

  position: absolute;
  max-width: 200px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: auto;
  transition: all 0.3s ease;
  transform: translate(var(--x-position), var(--y-position)) scale(0.75);

}

img:hover {

  transform: translate(var(--x-position), var(--y-position)) scale(1.25);
  z-index: 999 !important;

}

 /* scrolling footer template from https://fullcircledesign.org/blog/how-to-create-a-horizontal-scrolling-component-that-loops-seamlessly/ */

 @keyframes infiniteScroll {

  from {transform: translateX(0)}
  to {transform: translateX(-50%)}

}

footer {

  width: 100%;
  overflow-x: hidden;
  padding: 20px;
  border-radius: 1px;
  position: fixed;
  padding: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 100%;
  font: inherit;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  background-color: aliceblue;

}

.footerText01 {

  display: flex;
  font-size: 15px;
  padding: 10px;
  width: 2600px;
  animation-name: infiniteScroll;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

}

.footerText02 {

  white-space: nowrap;
  font-weight: bolder;
 
}